.demo-login-btn {
   align-self: center;
   display: block;
   margin-top: 1em;
   padding: 0.51em 0.9em;
   font-size: 1.35em;
   font-weight: 500;
   color: white;
   text-decoration: none;
   background-color: rgb(64, 128, 168);
   border: none;
   border-radius: 1em;
}
.demo-login-btn:hover {
   background-color: rgb(44, 108, 148);
}
.demo-login-btn:active {
   background-color: rgb(24, 88, 128);
}
