.home-container {
   width: 100%;
}

.home-container h1 {
   font-size: 1.7em;
}

.home-container .card-list-container {
   display: grid;
   grid-template-columns: minmax(200px, 1fr);
   gap: 2.5em;
   place-items: start;
   place-content: center;
}

@media (min-width: 515px) {
   .home-container .card-list-container {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
   }
}