.project-details-page h2 {
   margin-top: 0;
   font-size: 1.6em;
   font-weight: 400;
   text-decoration: underline;
   text-underline-offset: 0.3em;
   text-decoration-thickness: 0.05em;
}

.project-details-page .sprints-ctnr,
.project-details-page .tasks-ctnr {
   margin-top: 2.5em;
}

.project-details-page .project-info {
   position: relative;
   margin-bottom: 2em;
   padding: 0;
}

.project-details-page .project-info > li {
   display: flex;
   gap: 0.6em;
   margin-bottom: 0.3em;
}

.project-details-page .project-info .team-list-ctnr {
   display: block;
   max-width: 16em;
}

.project-details-page span.label {
   display: inline-block;
   flex-shrink: 0;
}
.project-details-page span.info {
   font-size: 1.1em;
   font-weight: 450;
}

.project-details-page .project-info .team-list {
   margin: 0.3em 0 1em;
   max-height: 30vh;
   overflow: scroll;
   padding-left: 1.2em;
   border: 8px solid white;
   border-radius: 0.2em;
   outline: 1px solid rgb(160, 160, 160);
   font-size: 1.05em;
}

.project-details-page .edit-btn {
   margin-right: 1.5em;
   background-color: rgb(210, 210, 210);
   font-size: 1.1em;
   padding: 0.3em 0.7em;
   border: 0;
   border-radius: 0.4em;
}
.project-details-page .edit-btn:hover {
   background-color: rgb(180, 180, 180);
}
.project-details-page .edit-btn:active {
   background-color: rgb(160, 160, 160);
}

.project-details-page .delete-btn {
   background-color: rgb(255, 116, 116);
   font-size: 1.1em;
   padding: 0.3em 0.7em;
   border: 0;
   border-radius: 0.4em;
}
.project-details-page .delete-btn:hover {
   background-color: rgb(265, 126, 126);
   font-weight: 500;
}
.project-details-page .delete-btn:active {
   background-color: rgb(215, 76, 76);
}

.project-details-page .error-container {
   color: var(--color-error);
}
.project-details-page .error-container p {
   margin-bottom: 0.5em;
}
.project-details-page .error-container ul {
   margin-top: 0;
   padding-left: 1.8em;
}

.project-details-page form {
   position: relative;
   display: flex;
   flex-direction: column;
}

.project-details-page form .status-priority-ctnr > :first-child {
   margin-right: 20px;
}

.project-details-page form .team-list-ctnr {
   margin-top: 1em;
   max-width: 20em;
}
.project-details-page form .team-list-ctnr p {
   font-size: 1.1em;
}
.project-details-page form .team-list-ctnr p.team-error {
   color: var(--color-error);
}

.project-details-page form .team-list {
   margin: 0.3em 0 1em;
   min-height: 5vh;
   max-height: 30vh;
   overflow: scroll;
   padding-left: 1.4em;
   border: 5px solid white;
   border-radius: 0.2em;
   outline: 1px solid rgb(160, 160, 160);
}

.project-details-page form .team-list.team-list-error {
   outline: 1px solid var(--color-error);
}

.project-details-page form .team-list li {
   margin: 0.5em 0;
}

.project-details-page form .no-team-members {
   font-style: italic;
   color: rgb(90, 90, 90);
}

.project-details-page form .remove-team-member-btn {
   margin-left: 0.7em;
   border: 0;
   border-radius: 0.2em;
   padding: 0.1em 0.4em;
   background-color: rgb(240, 190, 190);
}
.project-details-page form .remove-team-member-btn:hover {
   background-color: rgb(220, 170, 170);
}
.project-details-page form .remove-team-member-btn:active {
   background-color: rgb(190, 140, 140);
}

.project-details-page form .add-team-member-ctnr p {
   font-size: 1.1em;
   margin-bottom: 0.15em;
}

.project-details-page form .add-team-member-btn {
   font-size: 1.1em;
   margin-left: 0.7em;
   border: 0;
   border-radius: 0.2em;
   padding: 0.3em 0.9em;
   background-color: rgb(200, 225, 185);
}
.project-details-page form .add-team-member-btn:hover {
   background-color: rgb(180, 205, 165);
}
.project-details-page form .add-team-member-btn:active {
   background-color: rgb(150, 175, 135);
}

.project-details-page .form-controls-ctnr {
   margin: 2em 0 0;
}

.project-details-page .form-controls-ctnr .submit-btn {
   font-size: 1.2em;
   border: 0;
   border-radius: 0.2em;
   padding: 0.3em 0.6em;
   background-color: rgb(142 235 178);
}
.project-details-page .form-controls-ctnr .submit-btn:hover {
   background-color: rgb(162 255 198);
}
.project-details-page .form-controls-ctnr .submit-btn:active {
   background-color: rgb(122 215 158);
}

.project-details-page .form-controls-ctnr .cancel-btn {
   font-size: 1.2em;
   margin-left: 1em;
   border: 0;
   border-bottom: 1px solid black;
   padding: 0;
   background-color: transparent;
}
.project-details-page .form-controls-ctnr .cancel-btn:hover {
   font-weight: 500;
}
.project-details-page .form-controls-ctnr .cancel-btn:active {
   font-weight: 600;
}

@media (min-width: 425px) {
   .project-details-page .project-info li {
      gap: 1em;
   }

   .project-details-page span.label {
      width: 7em;
   }
}

@media (min-width: 615px) {
   .project-details-page .project-info .team-list {
      max-height: 8.5em;
   }

   .project-details-page form .team-list {
      max-height: 10em;
   }
}

@media (min-width: 675px) {
   .project-details-page form .team-list-add-member-ctnr {
      position: absolute;
      top: 0;
      left: clamp(22em, 35vw, 25em);
      width: clamp(12em, calc(100vw - 25em), 47em);
   }

   .project-details-page form .team-list-ctnr {
      margin-top: -0.3em;
   }

   .project-details-page form .form-controls-ctnr {
      margin-top: 3em;
   }
}

@media (min-width: 1128px) {
   .project-info-sprints-ctnr {
      width: 100%;
      display: flex;
      column-gap: 5em;
   }

   .project-info-controls-ctnr {
      width: 310px;
   }

   .project-details-page .sprints-ctnr {
      margin-top: 0;
      width: 70vw;
   }
}