.project-create-form-ctnr .create-btn {
   margin-right: 1.5em;
   margin-bottom: 1em;
   background-color: rgb(200, 225, 185);
   font-size: 1.1em;
   padding: 0.3em 0.7em;
   border: 0;
   border-radius: 0.4em;
}
.project-create-form-ctnr .create-btn:hover {
   background-color: rgb(220, 245, 205);
}
.project-create-form-ctnr .create-btn:active {
   background-color: rgb(180, 195, 155);
}

.project-create-form-ctnr .error-container {
   color: var(--color-error);
}
.project-create-form-ctnr .error-container p {
   margin-bottom: 0.5em;
}
.project-create-form-ctnr .error-container ul {
   margin-top: 0;
   padding-left: 1.8em;
}

.project-create-form-ctnr form {
   margin-bottom: 3em;
   position: relative;
   display: flex;
   flex-direction: column;
}

.project-create-form-ctnr form .team-list-ctnr {
   margin-top: 1em;
   max-width: 20em;
}
.project-create-form-ctnr form .team-list-ctnr p {
   font-size: 1.1em;
}
.project-create-form-ctnr form .team-list-ctnr p.team-error {
   color: var(--color-error);
}

.project-create-form-ctnr form .team-list {
   margin: 0.3em 0 1em;
   min-height: 5vh;
   max-height: 30vh;
   overflow: scroll;
   padding-left: 1.4em;
   border: 5px solid white;
   border-radius: 0.2em;
   outline: 1px solid rgb(160, 160, 160);
}

.project-create-form-ctnr form .team-list.team-list-error {
   outline: 1px solid var(--color-error);
}

.project-create-form-ctnr form .team-list li {
   margin: 0.5em 0;
}

.project-create-form-ctnr form .no-team-members {
   font-style: italic;
   color: rgb(90, 90, 90);
}

.project-create-form-ctnr form .remove-team-member-btn {
   margin-left: 0.7em;
   border: 0;
   border-radius: 0.2em;
   padding: 0.1em 0.4em;
   background-color: rgb(240, 190, 190);
}
.project-create-form-ctnr form .remove-team-member-btn:hover {
   background-color: rgb(220, 170, 170);
}
.project-create-form-ctnr form .remove-team-member-btn:active {
   background-color: rgb(190, 140, 140);
}

.project-create-form-ctnr form .add-team-member-ctnr p {
   font-size: 1.1em;
   margin-bottom: 0.15em;
}

.project-create-form-ctnr form .add-team-member-btn {
   font-size: 1.1em;
   margin-left: 0.7em;
   border: 0;
   border-radius: 0.2em;
   padding: 0.3em 0.9em;
   background-color: rgb(200, 225, 185);
}
.project-create-form-ctnr form .add-team-member-btn:hover {
   background-color: rgb(180, 205, 165);
}
.project-create-form-ctnr form .add-team-member-btn:active {
   background-color: rgb(150, 175, 135);
}

.project-create-form-ctnr .form-controls-ctnr {
   margin: 2em 0 0;
}

.project-create-form-ctnr .form-controls-ctnr .submit-btn {
   font-size: 1.2em;
   border: 0;
   border-radius: 0.2em;
   padding: 0.3em 0.6em;
   background-color: rgb(142 235 178);
}
.project-create-form-ctnr .form-controls-ctnr .submit-btn:hover {
   background-color: rgb(162 255 198);
}
.project-create-form-ctnr .form-controls-ctnr .submit-btn:active {
   background-color: rgb(122 215 158);
}

.project-create-form-ctnr .form-controls-ctnr .cancel-btn {
   font-size: 1.2em;
   margin-left: 1em;
   border: 0;
   border-bottom: 1px solid black;
   padding: 0;
   background-color: transparent;
}
.project-create-form-ctnr .form-controls-ctnr .cancel-btn:hover {
   font-weight: 500;
}
.project-create-form-ctnr .form-controls-ctnr .cancel-btn:active {
   font-weight: 600;
}

@media (min-width: 312px) {
   .project-create-form-ctnr form .status-priority-ctnr {
      display: flex;
      column-gap: 20px;
   }
}

@media (min-width: 615px) {
   .project-create-form-ctnr form .team-list {
      max-height: 10em;
   }
}

@media (min-width: 675px) {
   .project-create-form-ctnr form .team-list-add-member-ctnr {
      position: absolute;
      top: 0;
      left: clamp(22em, 35vw, 25em);
      width: clamp(12em, calc(100vw - 25em), 47em);
   }

   .project-create-form-ctnr form .team-list-ctnr {
      margin-top: -0.3em;
   }

   .project-create-form-ctnr form .form-controls-ctnr {
      margin-top: 3em;
   }
}