.sidebar-container {
    width: var(--sidebar-width);
    height: calc(100vh - var(--topbar-height));
    overflow: scroll;
    position: fixed;
    z-index: 7;
    background: rgb(228, 255, 238);
    transition: transform 0.15s ease-in-out;
}

.sidebar-container a {
    color: inherit;
    text-decoration: none;
}
