.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container header {
    width: 100%;
    margin-top: min(0.5em, 1vw);
    display: flex;
    justify-content: center;
}

.signup-container .logo-container {
    width: min(15vw, 70px);
    aspect-ratio: 1 / 1;
}

.signup-container main {
    width: 90%;
    max-width: 480px;
    padding-bottom: 3em;
}

.signup-container .error-container {
    color: var(--color-error);
}
.signup-container .error-container p {
    margin-bottom: 0.5em;
}
.signup-container .error-container ul {
    margin-top: 0;
}

.signup-container h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 650;
}

.signup-container form {
    display: flex;
    flex-direction: column;
}

.name-inputs-container {
    display: flex;
    flex-direction: column;
}

.signup-container form button[type="submit"] {
    margin-top: 1.3em;
    height: 2.45em;
    font-size: 1.4em;
    font-weight: 500;
}

@media (min-width: 600px) {
    .name-inputs-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 18px;
    }
}